.form {
  /* border: 1px solid white; */
  border-right: 1px solid white;
  padding: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field {
  display: flex;
  gap: 1rem;
}

.field label {
  width: 6rem;
}

.field input {
  width: 100%;
}

button {
  border: none;
  background-color: #e15d74;
  color: white;
  padding: 0.2rem 1rem;
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
button:active {
  transform: scale(0.98);
}
