@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.35s ease;
}

html, body {
  scroll-behavior: smooth;
}

::moz-selection {
  color: white;
  background-color: #00acc1;
}
::selection {
  color: white;
  background-color: #00acc1;
}

.fade-in {
  animation: section-fade-in 0.35s ease;
}

@keyframes section-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
